body{
    background-color: bisque;
    text-align: center;
}

.div {
    opacity: 80%;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.divnav {

    width: 100%;
    height: 70px;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px;
    height: 40px;
    position: relative;
    /* bottom: 10px; */
    left: 10px;
}

li {
    list-style: none;
}

a {
    font-size: x-large;
    color: black;
    list-style: none;
    text-decoration: none;
}

.bouton {
    width: 300px;
    height: 60px;
    background-color: #02f50f;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    margin: 0%;
    padding: 5px; 
    left: 30px;
}
#blan{
    width: 130px;
    height: 40px;
  }  
.logowat{
    height: 50px;
    width: 50px;
}
.logoins{
    height: 50px;
    width: 50px;
}
.you{
    height: 35px;
    width: 15px;
    position: relative;
    left: 210px;
    bottom: 610px;
    border: #FFFFFF;
}
.face{
    height: 35px;
    width: 15px;
    position: relative;
    left: 400px;
    bottom: 680px;
    border: #FFFFFF;
}
.twit{
    height: 35px;
    width: 15px;
    position: relative;
    left: 130px;
    bottom: 570px;
    border: #FFFFFF;
}
.insta{
    height: 35px;
    width: 15px;
    position: relative;
    left: 300px;
    bottom: 640px;
    border: #FFFFFF;
}
.what{
    height: 40px;
    width: 130px;
position:relative;
left: -500px;
top: 60px;
}
.log{
    color: #FFFFFF;
}
.but{
    position: relative;
    left: -500px;
    top: 150px;
    border-radius:50px;
    border-style: solid;
    border-color: black;
    width: 190px;
    height: 50px;
    background-color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}
.cler{
    color: #FFFFFF;
}
.mis{
    position: relative;
    left: -255px;
    top: -45px;
    color: #FFFFFF;
}
.lien{
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
}
.fonc{
    position: relative;
    left: -250px;
    top: -50px;
font-family:bold;
height: 39px;
}
.som{
    position: relative;
    left:-300 px;
    top: -265px;
    color: white;
}
.espa{
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
}
.pro{
    position: relative;
    left: 20px;
    top: -260px;
    font-family: bold;
    height: 39px;
}
.iph{
    color: #FFFFFF;
}
h5{
    position: relative;
    left: 20px;
    text-align: left;
}
.apps{
    position: relative;
    left: 250px;
    top: -480px;
    color: #FFFFFF;
}
.and{
    position: relative;
    left: 250px;
    top: -475px;
    font-family: bold;
    height: 39px;
}
.aid{
    position: relative;
    left: 450px;
    top: -696px;
    color: #FFFFFF;
}
.cont{
    position: relative;
    left: 450px;
    top: -690px;
    font-family: bold;
    height: 39px;
}
.rus{
    color: #FFFFFF;
}
.tion{
    position: relative;
    left: -480px;
    top: -780px;
    color: #FFFFFF;
}
.lisa{ position: relative;
    color: #FFFFFF;
   bottom: 830px;
   left: 400px;
    height: 10px;
    }
footer{
    height: 550px;
    background-color: rgb(63, 59, 59);
    left: 100px;
}
ul{
    position: relative;
    left: 500px;
    text-align: left;
}
.fran{
position: relative;
left: 500px;
top: -750px;
border-radius:50px;
border-style: solid;
border-color: black;
width: 190px;
height: 50px;
background-color: darkgreen;
font-family: Arial, Helvetica, sans-serif;
}
.acte{
    background-color: hsl(120, 23%, 55%);
    height: 600px;
    border-radius: 40px;
    top: 10px;
    font-family: bolder;

}
.sap{
    width: 130px;
    height: 40px;
}
.style{
    position: relative;
    left: 20px;
    z-index: 5
    font-size 80px;
    color: #FFFFFF;
    top: -300px;
}
.pels{
position: relative;
left: -350px;
top: 600px;
}
.style1{
    position: relative;
    color: #FFFFFF;
    font-family: bold;
 
    bottom: 580px;
    font-size: 85px;
    padding: 8px;
}
.age{
    position: relative;
    bottom: 680px;
    z-index: -1;
    border-radius: 4%;
    background-repeat: no-repeat;
    width: 1250px;
}
.style2{
    position: relative;
    color: #FFFFFF;
    font-family: regular;
 
    bottom: 650px;
    font-size: 22px;
    padding: 10px;
}
.bou{
    position: relative;
    bottom: 630px;
    border-radius:50px;
    border-style: solid;
    border-color: black;
    width: 190px;
    height: 50px;
    background-color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}
.ma{
    position: relative;
    bottom: 1320px;
    width: 520px;
    height: 60px;
    left: 350px;
}
.ma1{
    position: relative;
    bottom: 1320px;
    width: 150x;
    height: 100px;
    left: 300px;
}
.ma2{
    position: relative;
    bottom: 1320px;
    width: 100x;
    height: 50px;
    left: 300px;
}
.ma3{
    position: relative;
    bottom: 1320px;
    width: 350px;
    height: 280px;
    left: 300px;
}
.ma4{  
    position: relative;
    bottom: 1330px;
    height: 60px;
    left: 300px;
}
.ais{
    position: relative;
    bottom: 1250px;
    height: 30px;
    left: 380px;
    font-family: regular;
    font-size: 12px;
    color: rgb(78, 73, 73);
}
.sation{
    position: relative;
    bottom: 1250px;
    height: 200px;
    left: 25px;
    width: 1200px;
}
.ivés{
    position: relative;
    color: rgb(161, 156, 156)
    font-family: régular;
 
    bottom: 1250px;
    font-size: 50px;
    padding: 5px;
}
.igné{
    position: relative;
    bottom: 1200px;
    width:1200px;
    height: 200px;
    left: 5px;
}
.manq{
    position: relative;
left: -350px;
top:-600px;
}
.quer{
    position: relative;
    bottom: 590px;
    font-family: bold;
    color: black;
    left: 150px;
padding: 100px;
height: 300px;
width: 700px;
}
.ec{
    position: relative;
    bottom: 1000px;
    font-family:regular;
    color: rgba(65, 56, 56, 0.685);
    left: 150px;
padding: 100px;
height: 300px;
width: 700px;   
}
.ef{
    position: relative;
    bottom: 2000px;
    font-family:regular;
    color: rgba(65, 56, 56, 0.685);
    left: 5px;
}